<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
<tr>
    <th>Email</th>
    <th>Phone Number</th>
    <th>In time</th>
    <th>Out time</th>
    <th>Address</th>
</tr>
{% for log in logs %}
    <tr>
    <td>{{ log.visitor_user.user.email }}</td>
    <td>{{ log.visitor_user.user.phone_number }}</td>
    <td>{{ log.checkin_time }}</td>
    <td>
        {% if log.checkout_time %}
            {{ log.checkout_time }}
        {% else %}
            Still Inside
        {% endif %}
    </td>
    <td>{{ log.address }}</td>
    </tr>
{% endfor %}
</table>
<a href="/">Back to home</a>
</body>
</html>