{% extends 'base/base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block main_content %}
    <div class="center cyan-text text-darken-4" style="font-weight: bold">
        <h3>Check-Out Complete</h3>
        <p>
            You have been successfully Checked-out. <br>
            Thank you for visiting.<br>
            You will receive an email with the details of your visit shortly
        </p>
        <div>
            <a href="/" class="waves-effect waves-light btn">Back to home page</a>
            <a href="{% url 'entry_logs:checkin' %}" class="waves-effect waves-light btn">Check-In Again</a>
        </div>
    </div>

{% endblock %}

